<!DOCTYPE html>
<html lang="en"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout-dialect"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Page Builder</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
        <link rel="stylesheet" type="text/css" th:href="@{'/css/grapejs.css'}">
        <link rel="stylesheet" th:href="@{'//unpkg.com/grapesjs/dist/css/grapes.min.css'}">
    </head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/'}">Page Builder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/'}">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/sign-in'}" sec:authorize = "isAnonymous()">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/sign-up'}" sec:authorize = "isAnonymous()">Register</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize = "isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false"
                           th:text="${#authentication.principal.fullName}">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/profile'}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <form th:action="@{'/to-exit'}" method="post">
                                <li><button class="dropdown-item" >Sign out</button></li>
                            </form>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div layout:fragment = "content">

            </div>
        </div>
    </div>
</div>


<script src="//unpkg.com/grapesjs"></script>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
<script type="text/javascript" th:src="@{'/js/pagebuilder.js'}"></script>
</body>
</html>