<!DOCTYPE html>
<html lang="en"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout-dialect"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"

      layout:decorate = "main_layout.html">


<div layout:fragment = "content">

    <input type="hidden" id="idSite" th:value="${site.id}">

    <div class="container text-bg-light p-3" sec:authorize = "hasAnyAuthority('ROLE_ADMIN')">
        <div class="row">
            <div class="col-6">
                <h4>Pages</h4>
                <p>Create, edit, and manage all your pages</p>
            </div>
            <div class="col-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    + Create new page
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Creating new page</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mt-3 mb-3">
                                    <div class="col-11">
                                        <input required type="text" class="form-control" id="pageTitle" placeholder="Title">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button onclick="createPage()" class="btn btn-primary">CREATE NEW PAGE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="text-center">
            <div id="pages" class="row align-items-start">
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container">
            <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary" style="margin-top: 112px">
                <div class="text-white mb-3 mb-md-0">
                    Copyright © 2020. All rights reserved.
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">


        function createPage(){
            const request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(request.readyState===request.DONE){
                    if(request.status===200){
                        loadPages();
                        pageTitle.value = "";
                    }
                }
            }
            let jsonBody = {"title": pageTitle.value, "webSiteId": idSite.value};
            request.open("POST", "/api/page");
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
            request.send(JSON.stringify(jsonBody));
        }



        loadPages();

        function loadPages(){
            const request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(request.readyState === request.DONE){
                    if(request.status===200) {
                        let pageList = JSON.parse(request.responseText);
                        let htmlCode = "";
                        for(let i = 0; i<pageList.length; i++){
                            htmlCode+= "<div class='col-4 mb-3'>" +
                                "<div class='card h-100'>" +
                                "<div class='card-body'>"
                            htmlCode+= "<h5 class='card-title'><a href='/pagebuilder/"+pageList[i].id+"'>"+pageList[i].title+"</a></h5>";
                            htmlCode+= "</div></div></div>";
                        }
                        document.getElementById("pages").innerHTML = htmlCode;
                    }
                }
            }
            request.open("GET", "/api/page/site/" + idSite.value);
            request.send();
        }
    </script>

</div>

</html>



